@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Comic+Neue:wght@700&family=Permanent+Marker&family=Urbanist:ital,wght@0,400;1,100&display=swap');

body {
    height: 90vh;
}

.marker {
    background-image: url("/static/concertFinder/concert.png");
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}
     
.mapboxgl-popup-content {
    border-radius: 20px !important;
}
#map {
    border-radius: 8px;
    border-style: solid;
    border-width: 10px;
    border-color: aquamarine;
    width: 800px;
}

.headliner{
    font-family: 'Permanent Marker';
    margin-top: 5px;
}

.popup-headliner {
    text-align: center;
}

.list-headliner {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.showDetails {
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    gap: 12px;
    height: 100%;
}

header {
    text-align: center;
}

header h2 {
    margin-top: 0;
}

header h1{
    font-size: 3rem;
    font-family: 'Bungee Spice';
    margin-bottom: 0;
}

body {
    background-color: lightcyan;
    font-family: 'Helvetica Neue';
}

.leftContainer {
    max-width: 500px;
    width: 45%;
    background: linear-gradient(180deg, #ff9ec7 0%, #ffd7ce 53.65%);
    border-radius: 20px;
    overflow: hidden;
}

.input-container {
    padding: 10px;
}

p {
    font-family: 'Helvetica Neue';
    font-size: 16px;
}

#artist-input {
    padding: 10px;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    border-radius: 25px;
    border: 2px solid aquamarine;
}

form{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

#submit-btn {
    background-color: white;
    border: 2px solid aquamarine;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
    font-family: 'Comic Neue';
    transition: all 1.0s ease;
}

#submit-btn:hover {
    background-color: aquamarine;
    transition: 1.0s;
}

.concert-list li{
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-radius: 0.75rem;
    padding-left: 40px;
    margin: 0 12px;
}

.concert-list li:hover {
    box-shadow: rgba(36, 63, 97, 0.11) 0px 2px 12px, rgba(36, 63, 97, 0.12) 0px 0.5px 2px;
    cursor: grab;
    transition: box-shadow 100ms ease-out 0s;
}

.concert-list {
    overflow: auto;
    display: none;
    height: 88%;
    padding: 0 5px;
}


.date-list-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22%
}

.list-month-date {
    font-weight: bold;
}

.headliner-link {
    color: inherit;
    text-decoration: none;
}

.venue-list-view {
    width:80%;
}

.artist-not-found {
    text-align: center;
    margin: 20px;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
    }

    .leftContainer {
        width: 105%;
        height: 85vh;
        max-width: initial;
    }

    #map {
        width: 81%;
        height: 78%;
    }

    #artist-input, #submit-btn {
        font-size: 10px;
    }
    .concert-list p{
        font-size: 12px;
    }
    .concert-list .headliner {
        font-size: 16px;
    }
    .concert-list {
        height: 75%;
    }

}