{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where's the Show?</title>
    <script type="module" src="{% static 'concertFinder/index.js' %}" defer></script>
    <script type="module" src="{% static 'concertFinder/helpers.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'concertFinder/index.css' %}">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>
    <script src="https://kit.fontawesome.com/8dc5f7f539.js" crossorigin="anonymous"></script>
  </head>
<body>
  <header>
    <h1>Gigmapr</h1>
    <h2>Your Live Music Journey Starts Here 🎸</h2>
  </header>
  <div class="container">
        <div class="leftContainer">
          <form>
            <div class="input-container">
              <input type="text" name="artist_name" id="artist-input" placeholder= "Enter the Artist's Name!" required>
              <button id='submit-btn' type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </form>
          <p class="artist-not-found" style="display:none">Sorry, the artist searched could not be found or has no future shows available.</p>
          <ol class="concert-list" type="1">

          </ol>
      </div>
      <div id='map'></div>
    </div>
    <input id="MAPBOX_API_KEY" value="{{ MAPBOX_API_KEY }}" type="hidden" />
</body>
</html>